.bg{
    &-img {
        background-image: url(https://i.postimg.cc/W3WZjG4Q/service.jpg);
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 230px;
        padding-bottom: 110px;
      }
    &-img-overlay {
        position: absolute;
        background-color: rgba(32, 32, 32, 0.7);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
      }
}