.footer {
    position: relative;
    padding-top: 1rem;
    text-align: center;
    & .fa-stack {
        width: 2em;
        margin-bottom: 1.25rem;
        margin-right: 0.375rem;
        & .fa-stack-2x {
            color: #fff;
            transition: all 0.2s ease;
          }
      }
    & .fa-stack-1x {
        color: #000;
        transition: all 0.2s ease;
      }
  }
  .copyright {
    padding-top: 1.75rem;
    padding-bottom: 2.7rem;
    border-top: 1px solid #d0dae2;
    text-align: center;
    & .list-unstyled {
        opacity: 0.7;
        & li {
            margin-bottom: 0.75rem;
          }
      }
    & a {
        text-decoration: none;
      }
  }
  