.packages {
    background: url(../media/img_promo.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 110px;
}
.package{
  &-des {
    margin-bottom: 30px;
    & .thumb {
        position: relative;
        & img {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
          }
        & .price {
            position: absolute;
            left: 20px;
            top: 20px;
            & span {
                font-size: 16px;
                color: #1f272b;
                background-color: rgba(250, 250, 250, 0.9);
                padding: 7px 12px;
                border-radius: 10px;
              }
          }
      }
    & .down-content {
        background-color: #fff;
        padding: 30px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        & .deal {
            text-align: center;
            display: inline-block;
            margin-right: 20px;
            & h6 {
                text-transform: uppercase;
              }
            & span {
                display: block;
                color: #1f272b;
                margin-top: 7px;
              }
          }
      }
    & h4 {
        color: #1f272b;
        display: inline-block;
        margin-bottom: 15px;
      }
    & p {
        margin-left: 50px;
        color: #1f272b;
        font-size: 14px;
      }
  }
}
    
  .remove_width{
    margin-right: 0px;
  }
  .section-heading {
    text-align: center;
  }