.video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
    &-overlay {
        position: absolute;
        background-color: rgba(31, 39, 43, 0.7);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
      }
  }